CONFIG_PACKAGE_default-settings-chn=y

# kernel module
CONFIG_PACKAGE_kmod-usb-printer=y

# packages
CONFIG_PACKAGE_luci-compat=y

CONFIG_PACKAGE_luci-app-adblock-fast=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpu-status=y
CONFIG_PACKAGE_luci-app-cups-mdns=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_ddns-scripts-aliyun=y
CONFIG_PACKAGE_ddns-scripts-dnspod=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-microsocks=y
CONFIG_PACKAGE_luci-app-natmapt=y
CONFIG_PACKAGE_natmapt=y
CONFIG_PACKAGE_natmapt-notify-script-bark=y
CONFIG_PACKAGE_natmapt-notify-script-edgeone=y
CONFIG_PACKAGE_stuntman-client=y
CONFIG_PACKAGE_luci-app-rtp2httpd=y
CONFIG_PACKAGE_luci-app-p910nd=y
CONFIG_PACKAGE_p910nd-helper=y
CONFIG_PACKAGE_umdns=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-xfrpc=y
